// Shame


// Caps `letter-spacing` override for Basscss. This will
// be controlled through a variable in the next major
// release of Basscss.
.caps {
  letter-spacing: 0;
}

.shift-down {
  padding-bottom: $space-4;
  margin-bottom: -1 * $space-4;
  @media #{ $breakpoint-md } {
    padding-bottom: $space-4 * 2;
    margin-bottom: -1 * $space-4 * 2;
  }
  @media #{ $breakpoint-lg } {
    padding-bottom: $space-4 * 3;
    margin-bottom: -1 * $space-4 * 3;
  }

}
