!= partial("../../_shared/nav/nav", { "classes": "jumbotron-knockout" })
.st-content#st-content
  != partial("../../_shared/nav/navbar", { "classes": "jumbotron-knockout" })
  != partial("../../_shared/search")
  .container.st-content-inner
    != partial("../_shared/nav")
    article.col-12.col-lg-9.article-docs
      :markdown
        ## Development

        Read [The Rules](/docs/development/rules), a single page crash course in getting the most out of Harp right away.

        If you are using preprocessors to write HTML, CSS, or JavaScript, Harp will make your project dramatically easier. Harp supports [Markdown](/docs/development/markdown), [EJS](/docs/development/ejs), [Jade](/docs/development/jade), [LESS](/docs/development/less), [Sass](/docs/development/sass), [Stylus](/docs/development/stylus), and [CoffeeScript](/docs/development/coffeescript).