#recipe.recipe
  .recipe-loading
    h1 Loading recipe…
  .recipe-frame
    //- h1.recipe-title Recipe Title
    //- p.recipe-meta Posted on November 18th 2013 by Jorge Pedret using Harp 0.10.0
    //- ul.recipe-tags
    .recipe-content
  
script(src="/js/marked.js")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js").
script(src="/js/recipes.js")