h1 404 – Page Not Found

p Page not found, sorry! On the plus side, this 404 page was really easy to make using Harp. Read about it <a href="/docs/development/rules">here</a>.

h1 Search the documentation

p Try searching the full Harp documentation for what you’re after:

p!= partial("_shared/search")

p Review the full <a href="/docs">docs</a>, or <a href="https://twitter.com/harpjs">message us on Twitter</a> about what you’re after.
