!= partial("_shared/nav/nav", { "classes": "jumbotron-knockout" })
.st-content#st-content
  != partial("_shared/nav/navbar", { "classes": "jumbotron-knockout" })
  != partial("_shared/opening")

  .container.st-content-inner
    .section-features
      .feature
        .col-12.col-lg-8

          .window
            .window-title main.less
            pre.line-numbers
              code(class="language-css") @color: #f938ab;
                | body {
                |   color: @color;
                | }
                | h2 {
                |   color: @color;
                | }
          
          .window
            .window-title index.html
            pre.line-numbers
              code(class="language-markup") &lt;html&gt;
                |   &lt;head&gt;
                |     &lt;!-- You write LESS, Harp auto-compiles it to CSS --&gt;
                |     &lt;link rel="stylesheet" href="/main.css", type="text/css"&gt;
                |   &lt;/head&gt;
                |   &lt;body&gt;
                |     ...
                |   &lt;/body&gt;
                |&lt;/html&gt;

        .col-12.col-lg-4
          h3 Harp is a fast, lightweight web server
          p Harp intelligently compiles assets as the browser needs them, so it’s insanely fast. All you have to do is Save and Refresh.
          a(href="/docs/").btn.btn-info Learn More
      .feature
        .col-12.col-lg-4
          h3 Preprocessors are built-in
          p Harp delivers HTML, CSS &amp; JavaScript to the browser from your Markdown, Jade, EJS, LESS, Stylus, Sass and CoffeeScript, without any configuration. Now you can focus on writing instead of wrangling.
          a(href="/docs/development/rules").btn.btn-info Learn More

        .col-12.col-lg-8
          ul.logos
            li: a(href="/docs/development/less"): img(title="LESS CSS", src="/images/less.png")
            li: a(href="/docs/development/sass"): img(title="Sass CSS", src="/images/sass.png")
            li: a(href="/docs/development/stylus"): img(title="Stylus", src="/images/stylus.png")              

            li: a(href="/docs/development/coffeescript"): img(title="CoffeeScript", src="/images/coffeescript.png")
            li: a(href="/docs/development/markdown"): img(title="Markdown", src="/images/markdown.png")            
            li: a(href="/docs/development/jade"): img(title="Jade", src="/images/jade-lang.png")

      .feature
        .col-12.col-lg-8

          .window
            .window-title _navbar.ejs
            pre.line-numbers
              code(class="language-markup") &lt;nav class="navbar navbar-default navbar-fixed-top" role="navigation"&gt;
                |   &lt;ul class="nav nav-tabs"&gt;
                |     &lt;li class="active">&lt;a href="#">Home&lt;/a&gt;&lt;/li&gt;
                |     &lt;li&gt;&lt;a href="#"&gt;Product&lt;/a&gt;&lt;/li&gt;
                |     &lt;li&gt;&lt;a href="#"&gt;Services&lt;/a&gt;&lt;/li&gt;
                |   &lt;/ul&gt;
                | &lt;/nav&gt;
          
          .window
            .window-title index.ejs
            pre.line-numbers
              code(class="language-markup") &lt;html&gt;
                |   &lt;head&gt;
                |     ...
                |   &lt;/head&gt;
                |   &lt;body&gt;
                |     &lt;!-- Write it once, and it is available by including it. --&gt;
                |     &lt;%= partial("/_navbar.ejs") %&gt;
                |   &lt;/body&gt;
                |&lt;/html&gt;

        .col-12.col-lg-4
          h3 The beloved Layout/Partial paradigm
          p Keep your code clean and organized: reuse common elements with partials, and maintain a consistent site design with layouts. Harp makes both paradigms available to Jade and <abbr>EJS</abbr>.
          a(href="/docs/development/partial").btn.btn-info Learn More
      .feature
        .col-12.col-lg-4
          h3 Flexible, custom metadata
          p Move from static assets to truly dynamic content by passing metadata into your views and pages. Using your favorite templating engine, variables and loops make writing Harp applications fun and powerful.
          a(href="/docs/development/metadata").btn.btn-info Learn More

        .col-12.col-lg-8
          .window
            .window-title _data.json
            pre.line-numbers
              code(class="language-json") {
                |    "team": {
                |        "title": "All about Chloi Inc.",
                |        "members": ["Rob", "Brock", "Jorge", "Kenneth"]
                |    }
                | }
          
          .window
            .window-title team.jade
            pre.line-numbers
              code(class="language-markup") html
                |   head
                |     // Variables are passed into the page from _data.json
                |     title= title
                |   body
                |     ul
                |       // Lets loop though all team members
                |       each member in members
                |         li= member


      .feature
        .col-12.col-lg-8(style="text-align:center")
          ul.logos2.clearfix
            li: a(href="/docs/deployment/harp-platform"): img(title="Stylus", src="/images/harp-platform-wordmark-black-transparant.png", style="width:119px;margin-top:13px")
            li: a(href="/docs/deployment/github-pages"): img(title="GitHub", src="/images/GitHub_Logo.png")
            li: a(href="/docs/deployment/heroku"): img(title="Heroku", src="/images/heroku-logo.png")
            li: a(href="http://cordova.apache.org/", target="_blank"): img(title="Cordova", src="/images/apache_cordova1.png")
            li: a(href="http://www.mozilla.org/en-US/firefox/os/", target="_blank"): img(title="FireFox OS", src="/images/firefoxos.png")
            li: a(href="http://www.appcelerator.com/", target="_blank"): img(title="Appcelerator", src="/images/Mobile_Appcelerator.png")
              
          .btcontainer
            a(href="/docs/", style="width:300px;margin-top:40px").btn.btn-info Learn More
            

        .col-12.col-lg-4
          h3 Compile and deploy
          p Whether you’re making a GitHub project page, or a mobile application using Apache Cordova/PhoneGap, you can easily compile your code to <abbr>HTML</abbr>, <abbr>CSS</abbr> &amp; JavaScript and host it anywhere.
          p Or, skip compiling all together, and publish from Dropbox with the <a href="http://harp.io/">Harp Platform</a>.


