a.lg-show.border-none(href="https://github.com/sintaxi/harp" style="position: absolute; top: 0; right: 0;")
  img.block(src="/images/github-ribbon.png", alt="Star Harp on GitHub" style="max-width: 7.5em")

header.bg-blue
  != partial("_shared/nav")
  .clearfix
    .container.p1.sm-p2.clearfix
      .col-12.center
        h1.h1-responsive.white The static web server with built-in preprocessing
        p.h4 Harp serves Markdown, Sass, CoffeeScript, EJS, Jade, LESS, and more as HTML, CSS & JavaScript—no configuration necessary.
        .btn.btn-primary(href="#") Get started
      .col-12
        pre.bg-navy.teal.language-sh: code
          | <span class="select-none">$&nbsp;</span>npm install --global harp
          | <span class="select-none">$&nbsp;</span>harp ./myproject
          | <span class="select-none">$&nbsp;</span>harp ./myproject http://myproject.harpjs.com


.container.px1.sm-px2.clearfix
  .col-12.md-col-9.lg-col-8.mx-auto
    pre.language-sh: code
      | <span class="select-none"># Install Harp</span>
      | <span class="select-none">$&nbsp;</span>npm install --global harp
      | 
      | <span class="select-none"># Make a new project, and serve</span>
      | <span class="select-none"># it at http://localhost:9000</span>
      | <span class="select-none">$&nbsp;</span>harp ./myproject
      | 
      | <span class="select-none"># Deploy it to the web with one command</span>
      | <span class="select-none">$&nbsp;</span>harp ./myproject http://myproject.harpjs.com

    ul
      li Sign up for the Harp newsletter
      li Follow @HarpWebServer

.bg-black.teal.py3
  .container.px1.sm-px2.clearfix
    .col-12.md-col-9.lg-col-8.mx-auto
      blockquote.h2.center Just ran my first <code>harp compile</code>. Thanks for making me feel like I have&nbsp;superpowers.
        footer.clearfix.center.h5.mt2
          a.inline-block.border-none(href="https://twitter.com/pravcox/status/577844274894635008")
            .flex.flex-center
              img.flex-auto.circle.mr1(src="https://avatars.io/twitter/pravcox" style="max-width: 2rem")
              span.a-faux Pravina Cox

      h2 Who’s using Harp
      p Amazing individuals and teams build static projects with Harp.
      
    .clearfix.mxn2
      .col.sm-col-4.p2
        img(src="/images/logo-npm.svg" alt="npm")
        //- h3.mt0.center npm
        p.h6 <strong>npm</strong>, the package manager for JavaScript that distributes over [x packages]—including Harp—with over [x downloads per day], uses Harp to build their documentation.

      .col.sm-col-4.p2
        img(src="/images/logo-angular.svg" alt="Angular")
        //- h3.mt0.center Angular.io
        p.h6 Google’s <strong>Angular.io</strong> team chose Harp to build an amazing new site for Angular 2, the latest version of the popular and powerful web and mobile application framework.

      .col.sm-col-4.p2
        img(src="/images/logo-huge.svg" alt="Huge")
        //- h3.mt0.center Huge Inc.
        p.h6 <strong>Huge Inc.</strong> is a digital agency with clients like Nike, TED, and HBO, uses Harp within Styleguide, a tool that makes creating and maintaining their styleguides easy.

.bg-black.teal.py3
  .clearfix.flex.flex-stretch
    .col-6.flex-auto.clearfix.flex.flex-center
      .col-12.px1.sm-px2.flex-auto
        .md-col-10.lg-col-8.right.mr4
          h3 How npm uses Harp
          p.h6.md-h5.lg-h4 <strong>npm</strong>, the package manager for JavaScript that distributes over [x packages]—including Harp—with over [x downloads per day], uses Harp to build their documentation.
    .col-6
      //-
        .bg-gray.py2.rounded-top.flex.flex-center
          .ml2(role="presentation")
            .circle.bg-silver.inline-block.mr1(style="width: 1em; height: 1em")
            .circle.bg-silver.inline-block.mr1(style="width: 1em; height: 1em")
            .circle.bg-silver.inline-block.mr1(style="width: 1em; height: 1em")
          .flex-auto
            .rounded.bg-silver.p1.gray npmjs.org
      img.rounded-bottom(src="/images/example-npm-crop.png")
        

.bg-purple.teal.py3
  .container.px1.sm-px2.clearfix
    .col-12.md-col-9.lg-col-8.mx-auto
      blockquote.h2.center Just ran my first <code>harp compile</code>. Thanks for making me feel like I have&nbsp;superpowers.
        footer.clearfix.center.h5.mt2
          a.inline-block.border-none(href="https://twitter.com/pravcox/status/577844274894635008")
            .flex.flex-center
              img.flex-auto.circle.mr1(src="https://avatars.io/twitter/pravcox" style="max-width: 2rem")
              span.a-faux.black Pravina Cox

      h2.center Efficient web developers use Harp.
      p The preprocessors and helpers you want are already built into Harp. Write a <code>.scss</code> file, and Harp automatically serves it as CSS. Write a <code>require</code> statement, and it will automatically be compiled with Browserify—and a lot more.
            
    .clearfix.mxn2
      .col.sm-col-4.p2
        img(src="/images/logo-npm.svg" alt="npm")
        //- h3.mt0.center npm
        p.h6 <strong>npm</strong>, the package manager for JavaScript that distributes over [x packages]—including Harp—with over [x downloads per day], uses Harp to build their documentation.


  .clearfix.mx2n.mt4
    .center.col-12.p2.mx-auto
      p …and you? Harp is open source and free.
      a.btn.btn-primary.bg-maroon.p2(href="/docs/quick-start") Get started


.bg-transparent
  .col-12.md-col-9.lg-col-8.mx-auto
    :markdown
      ## Preprocessors are built-in

      The preprocessors you want are already built-in—no need to configure anything. Create a new `.scss` file, and it will automatically be preprocessed as Sass. Write a new `.js` file, and automatically include `require` modules via Browserify.

      - Sass (Very fast via Node-sass and Libsass)
      - LESS
      - Stylus
      - CoffeeScript
      - Jade
      - EJS
      - Markdown

      - Flexible metadata
      - Autoprefixer
      - Browserify
      - Minification
      - Source Maps (?)

      ## Multi-platform

      - OS X
      - Windows
      - Linux

      - CLI
      - GUI

      - Zero-configuration to get started
      - Multi-platform, multi-client: Windows, Mac, and Linux, CLI or app
      - Take your code anywhere: compile, publish, or wrap (Cordova, Electron)
      - Fast: incremental compiles on demand, don’t wait for your entire static site to rebuild
      - Secure: compiled content is static, published with HTTPS on harpjs.com domains

      ## Quotes to feature

      - [Elastisearch](https://twitter.com/SpencerAlger/status/413052701849579520)
      - [Remy](https://twitter.com/rem/status/428184106187636736), https://twitter.com/rem/status/428857826631745536, https://twitter.com/rem/status/433980367964749824
      - https://twitter.com/samarkandiy/status/431557750444027904
      - https://twitter.com/krrishd/status/432605586325114880
      - https://twitter.com/didelico/status/449786285566095360
      - https://twitter.com/Nadee/status/479384048066781184, https://twitter.com/didelico/status/600536497469661184
      - https://twitter.com/raymondcamden/status/515575726226300929
      - https://twitter.com/AndresJCremades/status/516854729595691008
      - https://twitter.com/fox/status/523790890658459648
      
      blockquote
        p @HarpWebServer, the best static web server + preprocessor money can't buy, because it's open and free. You guys rock!
        footer https://twitter.com/jbucaran/status/524082242708992001

      - https://twitter.com/kedronrhodes/status/535159621141684224
      - https://twitter.com/matt_mcclure/status/536667542631501824
      - https://twitter.com/francoislaberge/status/537234603363557376
      - https://twitter.com/cambrian_era/status/537732630909685762, https://twitter.com/cambrian_era/status/589946329205329920
      - [SassMeister](https://twitter.com/sassmeisterapp/status/538554838041518081)
      - https://twitter.com/adeperio/status/555956698947403776
      - https://twitter.com/robmuh/status/557972433333153794
      - https://twitter.com/simonswiss/status/559503875808313346
      - https://twitter.com/_davideast/status/568413073544884224
      - [Auth0](https://twitter.com/mgonto/status/575451320045281280)
      - [JS.LA](https://twitter.com/davidguttman/status/576437384125890561)
      - https://twitter.com/pravcox/status/577844274894635008
      - [Rebecca Murphy](https://twitter.com/rmurphey/status/584795061637885952)
      - https://twitter.com/johnbarton/status/623419732813676544
      - [Huge Inc.](https://twitter.com/colinjohnston/status/623634308553678849)
      - https://twitter.com/Seromarin/status/664643282459316225

      ## Team?

      From the co-creators of Apache Cordova / PhoneGap, Harp was one of the first Node.js-based static site generators and is just as relevant for front-end developers today.

      - Contributors from npm, CSS Conf, etc. etc.
      - It’s easier to contirbute than you think. Here’s our getting started guide for running things locally.

      ## Process

      - Great for students and classrooms → this is an opportunity to offer up workshops
      - Prototypes before you move onto something integrated with a backend / or run Harp as middleware in Express
      - Individual developers who need to actually get their work done instead of configuring their build tool all the time
      - Teams that need to know everyone’s using the same version of something

      ## Go beyond blogs

      Harp works great for blogs, but that’s just where static site start. Harp is a general purpose static site generator, not just specifically for blogs, so you can build any kind of static application you need: documentation sites, style guides, marketing sites, or even more comprehensive applications that get wrapped in PhoneGap or Electron
