header.center
  h1 Pricing

  p Harp is open source, and <strong>free</strong> to use. Upgrade to Harp Pro to deploy any Harp site in a single command, add your own custom domain and SSL certificate, get personalized support, and more.

.mxn2.clearfix

  .col.col-12.sm-col-6.p2
    h2.center.mt0.mb2 Harp
    a.block.black.border.rounded.p2(href="/docs/quick-start")
      .center
        div.h1.regular: span.h3 Open Source 
      
      ul.list-reset
        li.block.center.border-bottom.p1 Built-in preprocessing
        li.block.center.border-bottom.p1 Runs on OS X, Linux, and Windows
        li.block.center.p1 Compile to HTML, CSS, & JS
      
      .btn.btn-primary.bg-gray.p2.col-12.center Quick Start
      
  .col.col-12.sm-col-6.p2
    h2.center.mt0.mb2 Harp Pro
    a.block.black.border.rounded.p2(href="/docs/deployment/harp-pro")
      .center
        div.h1.regular.ml3 <span class="lnum">$49</span><sub class="muted h4">/mo.</sub>
      
      ul.list-reset
        li.block.center.border-bottom.p1 Built-in preprocessing
        li.block.center.border-bottom.p1 Runs on OS X, Linux, and Windows
        li.block.center.border-bottom.p1 Compile to HTML, CSS, & JS
        li.block.center.border-bottom.p1 <strong>Built-in deployment</strong> to Harp’s static <abbr class="caps">CDN</abbr>
        li.block.center.border-bottom.p1 Add your own <strong>custom domain</strong>        
        li.block.center.border-bottom.p1 Add your own <strong>SSL certificate</strong>
        li.block.center.p1 <strong>Personal Support</strong> through chat and email
      
      .btn.btn-primary.bg-maroon.p2.col-12.center Deploy


.clearfix.mt4
  .border.gray.p2.col-12.center.mx-auto.rounded.select-none
    p.m0.h5.regular Harp is <strong>open source</strong> and completely <strong>free to use</strong>, no credit card or personal details required. Cancel your subscription any time.
