<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="refresh" content="1;url=/docs/quick-start">
        <script type="text/javascript">
            window.location.href = "/docs/quick-start"
        </script>
    </head>
    <body>
        If you are not redirected automatically, go to <a href='http://harpjs.com/docs/quick-start'>the quick start guide</a>.
    </body>
</html>