//- This shows the what’s next link automatically,
//- but probably needs to use a for loop instead of
//- a foreach so it can go to the next category

if typeof(public.docs[current.path[1]])==='object'
  - var next = false;
  each item, slug in public.docs[current.path[1]]._data
    unless item.published === false
      if slug === current.source
        - var next = true;
      else if next === true
        a.block.bg-navy.p1.md-p3.rounded(href="/docs/#{ current.path[1] }/#{ slug }")
          h3.mt0 What’s Next?
          p !{ item.description.replace(" (", " (<code>").replace(")", "</code>)") } &rarr;
        - return
