article.col-12.md-col-9.lg-col-8.mx-auto
  if published === true || environment==='development'
    header.mb3.pnum.onum
      if public.blog.contributors._data[author]
        - author = public.blog.contributors._data[author]

      != partial("../_shared/author", { author: author })

      h1.h1.mt1!= yield.split("<h1>")[1].split("</h1>")[0]
    != yield.split("</h1>")[1]
    != partial("../_shared/closing")
  else
    != partial("../404")
