!= partial("../_shared/nav/nav", { "classes": "jumbotron-knockout" })
.st-content#st-content
  != partial("../_shared/nav/navbar", { "classes": "jumbotron-knockout" })
  != partial("../_shared/search")
  .container.st-content-inner
    != partial("_shared/nav")
    != yield