.col-12
  :markdown
    # Chat about Harp

    The Harp community and team often spend time in the `#harp` Internet Relay Chat channel. You can join below, or [in your own IRC client](irc://irc.freenode.net/harp).

    ***
.col-12
  iframe.border.rounded(src="http://webchat.freenode.net?randomnick=1&channels=%23harp&uio=MT1mYWxzZSYxMT0xOTU3b" style="height: 100%; min-height: 35rem" frameBorder="0")
