!= partial("../_shared/nav/nav", { "knockout": true })
.container.p1.sm-p2
  .col.col-12.md-col-3.lg-col-4
    nav.md-show
      != partial("_shared/nav")
  article.col.col-12.md-col-9.lg-col-8
    :markdown
        # Community

        Follow Harp on Twitter at [@HarpWebServer](http://twitter.com/harpwebserver) and [Star Harp on GitHub](https://github.com/sintaxi/harp). Plus, [subscribe to <cite>Harp Weekly</cite>](http://harpjs.us7.list-manage1.com/subscribe?u=af92eba03471187c8aa0266e7&id=74381fea66), the Harp newsletter.

        ## Chat in IRC

        If you are having problems with Harp, have a question, or just want to say “Hi,” [chat with the Harp community through IRC](chat). The #harp channel is regularly filled with people knowledgeable about Harp.

        ## Thank You To Mozilla WebFWD

        <figure class="border">
        [![Mozilla WebFWD](/images/webfwd.svg)](https://webfwd.org/)
        </figure>

        Harp &amp; the [Harp Platform](http://harp.io) are proud [Mozilla WebFWD](https://webfwd.org/) graduates. Thank you to Mozilla &amp; Mozilla WebFWD for their feedback and guidance.

        ## How to Contribute

        Harp is open source, with [the code available on GitHub](http://github.com/sintaxi/harp). Contributions come in many shapes and sizes: we get excited to see people pitch in and help, whether it’s fixing a typo or discussing a feature you’d like to implement.

        ### Report a bug

        If you think you’ve found a bug, or something is not behaving as advertised, please report it. The best way to do that is [open an issue on Github](http://github.com/sintaxi/harp/issues). IF you include what operating system you are running, the version of NodeJS, Harp, and steps to reproduce the problem, then you are especially awesome.

        ### Help improve the docs

        If something in the docs is wrong, confusing or just doesn't make sense, please let us know by opening an issue and we will do our best to fix it. If you have an idea for a guide, tutorial or screen cast please send it to [@HarpWebServer](http://twitter.com/harpwebserver); we will happliy feature it in <cite>Harp Weekly</cite>.

        ### Discuss and open a pull request

        If you want to jump in and start writing code, that is fantastic. We welcome these commits, too. [Here is a list of open issues on Github](https://github.com/sintaxi/harp/issues?direction=desc&page=1&sort=created&state=open).

        If you want to add a new feature, one of the maintainers would love to chat with you first to make sure the feature is inline with the project philosophy and design goals. We value your time and just want to resolve any concerns right away. Feel free to [open an issue](http://github.com/sintaxi/harp/issues) and [chat with us in IRC](irc://irc.freenode.net/harp).
