footer.post-closing.col-12.col-lg-8.col-push-2
  h3.h1 Stay static
  p Subscribe to the Harp Newsletter to recieve more lessons on building static applications, preprocessing, and tools like Harp.
  != partial("newsletter", { btnClass: "btn-success" })
