footer.footer

  #nav.is-target.md-is-transparent.col.col-12.md-col-4.list-group
    h3 Everything Harp
    ol.block.h4.md-h5
      li: a(href="/docs") Documentation
      li: a(href="/docs/quick-start") Quick Start
      li: a(href="/recipes") Recipes
      li: a(href="/community") Community
      li: a(href="/identity") Identity Guide
      li: a(href="/blog") Blog

  .col.col-12.md-col-4.list-group
    h3.list-group-item Latest Articles
    - i = 0
    for article, slug in public.blog._data
      if article.published == true && !article.url
        - i++
        if i <= 5
          a.list-group-item.list-group-underlined(href="/blog/#{ slug }")
            != article.title
            if i == 1
              span.badge new


  .col.col-12.md-col-4.list-group
    h3.list-group-item The Harp Newsletter
    .list-group-item!= partial("../_shared/newsletter")

    h3.list-group-item Connect with Harp
    .list-group-item
      iframe(src="http://ghbtns.com/github-btn.html?user=sintaxi&repo=harp&type=watch&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="100%", height="30px")
      a(href="https://twitter.com/HarpWebServer", class="twitter-follow-button", data-show-count="false", data-lang="en", data-size="large") Follow @HarpWebServer
      a.list-group-item.icon-irc(href="irc://irc.freenode.net/harp") Chat in ##{ service.irc.toLowerCase() } on IRC
