//- This is the top level nav,
    ie. Docs, Blog, FAQ, Community, Source,
    which are all are pulled from the corresponding data.json.

nav.clearfix(role="navigation" class="#{ knockout === false ? 'bg-white' : 'bg-blue' }")
  .container.flex.flex-center.p1.md-p2.mxn2
      .flex-auto.px2.flex
        a.block.left.border-none(href="/" style="max-width: 5.5em")
          img.block.mx-auto(src="/images/wordmark#{ knockout === false ? '-dark' : '' }.svg" alt="#{ name }" style="height: 2.5em")
      .h6.md-h5.px2.flex.flex-center(class="#{ knockout === false ? 'gray' : 'teal' }")
        a.btn.regular.p1.border-none.md-show-inline.flex-auto(href="/docs") Documentation
        a.btn.regular.p1.border-none.md-show-inline.flex-auto(href="/blog") Blog
        a.btn.regular.p1.border-none.lg-show-inline.flex-auto(href="/community") Commmunity
        a.btn.regular.p1.border-none.md-show-inline.flex-auto(href="https://github.com/sintaxi/harp") GitHub
        a.btn.regular.p1.border-none.md-show-inline.flex-auto(href="/pricing") Pricing        
        a.btn.p2.border-none.center.inline.col.col-12.md-col-auto.col-right.bg-maroon.rounded.md-ml2(href="/docs/quick-start")
          span.white Quick Start
        a.btn.regular.p2.md-p1.border-none.md-hide.inline-block.col-12(href="#nav") More…
