form.form-horizontal#mc-embedded-subscribe-form.validate(action="http://harpjs.us7.list-manage.com/subscribe/post?u=af92eba03471187c8aa0266e7&id=74381fea66", method="post", role="form", name="mc-embedded-subscribe-form", target="_blank")
  fieldset.form-group.mc-field-group
    // label.control-label(for="mce-EMAIL") Email Address
    input.form-control#mce-EMAIL.required.email(type="email", value="", placeholder="you@example.com", name="EMAIL")
  input#mc-embedded-subscribe.btn(type="submit", value="Subscribe", name="subscribe", class=btnClass ? btnClass : 'btn-default')
