.jumbotron.jumbotron-knockout.section-splash
  .container
    .col-12.col-sm-6.col-lg-7
      h1 The static web server with built-in preprocessing.
      p Harp serves Jade, Markdown, EJS, CoffeeScript, <abbr>Sass</abbr>, <abbr>LESS</abbr> and Stylus as <abbr>HTML</abbr>, <abbr>CSS</abbr> &amp; JavaScript—no configuration necessary.
      != partial("social-list")
    .col-12.col-sm-6.col-lg-5
      != partial("install")
      a.btn.btn-success.btn-large(href="/docs/quick-start") Install Harp
      a.btn.btn-mini.btn-info.btn-platform(href="https://www.harp.io") Looking for the Harp Platform?
  img.section-waves(src="/images/headerwaves.png", alt="")