h2 Naming convention

.row.row-full
  .col-12.col-sm-6
    h3 Use
    ul.list-success
      li Harp
      li Harp web server
  .col-12.col-sm-6
    h3 Avoid
    ul.list-warning
      li Harp.js
      li HarpJS
  .col-12
    p
      :markdown
        It’s appreciated if you refer to Harp as “Harp” and not “HarpJS” or “Harp.js.” This indicates Harp is a web server and not specifically a JavaScript library. The exception to this naming convention is when explicitly writing out the URL “[harpjs.com](http://harpjs.com).”
