h2 Naming convention

.clearfix.col-12
  .col.sm-col-6
    h3 Use
    ul
      li Harp
      li Harp web server
  .col.sm-col-6
    h3 Avoid
    ul.list-warning
      li Harp.js
      li HarpJS

:markdown
  It’s appreciated if you refer to Harp as “Harp” and not “HarpJS” or “Harp.js.” This indicates Harp is a web server and not specifically a JavaScript library. The exception to this naming convention is when explicitly writing out the URL “[harpjs.com](http://harpjs.com).”
