h2 Typography

p Type is set in Open Sans, a type family designed by Steve Matteson.

p Open Sans is available under the Apache licence, version 2.0, which means it can be distributed as part of Harp. Therefore, Open Sans should also used in any in-application views, like error description.

p For promotinal applications, Open Sans 300 is used at large sizes as a main headline. Open Sans Condensed is never used, as this is reserved for the <a href="https://www.harp.io">Harp Platform</a>.

figure.identity-specimen
  div.identity-specimen-300 The quick, light web server jumps over the lazy build task
  figcaption Open Sans 300

figure.identity-specimen
  p.identity-specimen-600 The quick, light web server jumps over the lazy build task
  figcaption Open Sans 600

figure.identity-specimen
  p.identity-specimen-400 The quick, light web server jumps over the lazy build task. #{ description }
  figcaption Open Sans 400