h2 Typography

p Type is set in <a href="http://weiweihuanghuang.github.io/Work-Sans/">Work Sans</a>, designed by Wei Huang and available under the SIL Open Font License Version 1.1.

figure.border.p3
  p.font-sans.h1(style="font-weight: 700") The quick, light web server jumps over the lazy build task
  figcaption Work Sans Extrabold

figure.border.p3
  p.font-sans.h1(style="font-weight: 600") The quick, light web server jumps over the lazy build task
  figcaption Work Sans Bold

figure.border.p3
  p.font-sans.h1(style="font-weight: 400") The quick, light web server jumps over the lazy build task
  figcaption Work Sans Regular


figure.border.p3
  p.font-sans.h5 <strong>Pangram</strong> The quick, light web server jumps over the lazy build task. #{ description }
  figcaption Work Sans Bold and Work Sans Regular
