h2 Wordmark

figure
  img.identity-wordmark-large.identity-blue(src="resources/750/harp-wordmark-white-on-transparent.png" alt="")

.row.row-full
  figure.col-12.col-sm-4
    img.identity-wordmark-small.identity-dark(src="resources/750/harp-wordmark-white-on-transparent.png" alt="")

  figure.col-12.col-sm-4
    img.identity-wordmark-small.identity-off-white(src="resources/750/harp-wordmark-dark-on-transparent.png" alt="")

  figure.col-12.col-sm-4
    img.identity-wordmark-small.identity-off-white(src="resources/750/harp-wordmark-grey-on-white.png" alt="")

  .col-12.well
    h3 Download
    p Feel free to use the wordmark as described in this guide. They’re available to download in various sizes, colours and formats.
    .row-full.col-sm-6
      a(href="harp-wordmarks.zip").btn.btn-success.btn-large Download the kit

.row.row-full
  h3.col-12 Spacing
  figure.col-12.col-sm-5
    img.identity-wordmark-spacing.identity-off-white(src="images/harp-wordmark-spacing.png")
  .col-12.col-sm-7
    p Try and give the wordmark enough clear space so it appears distinct from other elements. This diagram is precise, but you can be approximate. The downloadable resources are already spaced properly.

//- This would be the wordmark dos and don’ts section

  .row.row-full
    .col-12.col-sm-6
      h3 Use
      ul.list-success
        li Harp
        li Harp web server
    .col-12.col-sm-6
      h3 Avoid
      ul.list-warning
        li Harp.js
        li HarpJS
    .col-12
