h2 Wordmark

figure.col-12.bg-blue
  img(src="resources/750/harp-wordmark-white-on-transparent.png" alt="")

.clearfix.mxn1
  .col.col-12.sm-col-4.px1
    figure.bg-black.border
      img(src="resources/750/harp-wordmark-white-on-transparent.png" alt="")

  .col.col-12.sm-col-4.px1
    figure.bg-white.border
      img(src="resources/750/harp-wordmark-dark-on-transparent.png" alt="")

  .col.col-12.sm-col-4.px1
    figure.bg-white.border
      img(src="resources/750/harp-wordmark-grey-on-white.png" alt="")

  .col-12.well
    h3 Download
    p Feel free to use the wordmark as described in this guide. They’re available to download in various sizes, colours and formats.
    .row-full.sm-col-6
      a(href="harp-wordmarks.zip").btn.btn-primary.p3 Download the kit

.clearfix
  h3 Spacing
  .mxn1
    .px1.col.col-12.sm-col-5
      figure.border
        img.identity-wordmark-spacing.identity-off-white(src="images/harp-wordmark-spacing.png")
    .px1.col.col-12.sm-col-7
      p Try and give the wordmark enough clear space so it appears distinct from other elements. This diagram is precise, but you can be approximate. The downloadable resources are already spaced properly.
